<p id="notice"><%= notice %></p>


<div class="title">
<h1>Welcome to BarPort: Keeping your Private Bar Memberships in one place.</h1>

<h2><em>Keep your memberships to private bars accessible and up to date.<em></h2><hr>

</div>



<table>
  <thead>
    <tr>
      <th><h1>Name</h1></th>
      <th><h1>Location</h1></th>
      <th><h1>Hours</h1></th>
      <th><h1>Specials</h1></th>
       <th><h1>Disclaimer</h1></th>
      <th><h1>Application</h1></th>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
 
    <% @bars.each do |bar| %>
      <tr>
        <td><%= bar.name %></td>
        <td><%= bar.location %></td>
        <td><%= bar.hours %></td>
        <td><%= bar.specials %></td>
         <td><%= bar.disclaimer %></td>
        <td><em> <%= link_to 'Apply to: '+  bar.name + "   ", new_application_path%></em></td>
        <td><em> <%= link_to 'Check In at: '+  bar.name + "   ", new_check_in_path%></em></td>
  
        <td><%= link_to 'Show', bar %></td><br>
        <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
        <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
    <% end %>

  </tbody>

</table>
</div>
</div>

<br>

<%= link_to 'New Bar', new_bar_path %>
