<p id="notice"><%= notice %></p>
 <%= stylesheet_link_tag    'check_ins'%>
 
<h1>Members Signed In</h1>
<div class="container">
<div class ="row">
<div class= "col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
  <% @check_ins.each do |check_in| %>
  
    <%= link_to 'Show', check_in %>
  </div>
  </div>
  </div>
  <% end %>
  </div>
  </div>
<table>
  <thead>
    <tr>
      <th><h1>Member name</h1></th>
      <th><h1>Guest name</h1></th>
      <th><h1>Bar</h1></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= check_in.member_name %></td>
        <td><%= check_in.guest_name %></td>
        <td><%= check_in.bar %></td>
        <td><%= link_to 'Show', check_in %></td>
        <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
        <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check in', new_check_in_path %>
